.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 38%;
}

.friend__avatar.g-avatar {
  width: 70px;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
}

.friend__column-group {
  display: flex;
  align-items: center;
}

.friend__group-content {
  display: block;
}

.friend__group-name {
  margin-bottom: 5px;
}

.friend__number {
  font-size: 10px;
  opacity: 0.5;
}

.friend__bottom-textg {
  display: block;
  opacity: 0.6;
  font-size: 14px;
  margin-top: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend__content .friend__status,
.friend .chat__timestamp {
  font-size: 12px;
}

.friend .friend__now-listening {
  border: 2px solid #52e084;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
}

.friend__now-listening span {
  opacity: 0.7;
}

.friend__now-listening i {
  font-size: 12px;
}

.friend__add-btn {
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-column {
  width: 60px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}

.s-avatar {
  width: 30px;
}
